/* Styles pour le formulaire */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative; /* Permet au bouton d'être positionné par rapport au formulaire */
    min-height: 300px; /* Assurez une hauteur minimale pour le formulaire */
  }
  
  .conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px; /* Positionné à 20px du côté droit */
    bottom: 20px; /* Positionné à 20px du bas */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    form {
      padding: 15px;
      max-width: 100%;
    }
  
    button[type="submit"] {
      right: 10px; /* Ajustement des marges pour petit écran */
      bottom: 10px;
    }
  }
  